PORT=4000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/splendor
NODE_ENV=development

# WebSockets config
WS_CORS_ORIGIN=http://localhost:3000

# Third-party mocks/keys
SMS_GATEWAY_API_KEY=mock_key
SMS_SENDER_NAME=Splendor
SMS_MOCK_MODE=true

PAYMENT_API_KEY=mock_payment_key
PAYMENT_MOCK_MODE=true
